
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 231 20% 27%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 27%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 231 30% 90%;
    --secondary-foreground: 231 48% 48%;
    --muted: 231 30% 90%;
    --muted-foreground: 231 20% 45%;
    --accent: 231 39% 68%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 88%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 20% 7%;
    --foreground: 231 15% 85%;
    --card: 230 20% 12%;
    --card-foreground: 231 15% 85%;
    --popover: 230 20% 7%;
    --popover-foreground: 231 15% 85%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 230 20% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 230 20% 15%;
    --muted-foreground: 231 15% 60%;
    --accent: 231 39% 68%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 15%;
    --input: 230 20% 15%;
    --ring: 231 39% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
